body {
  background: url("ice_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: grid;
  place-items: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #abb9c2;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  pointer-events: none;
  border: none;
}

* {
  cursor: url(flake.png), auto;
  background-position: center;
}

.startClass {
  border-radius: 20%;
  background-color: rgb(36, 91, 112);
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  height: 100px;
  width: 100px;
}

input {
  padding: 5px;
  border: 0px;
  border-radius: 20px;
  width: 200px;
}

input:focus {
  outline: none;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.startContent {
  margin: 20px 0px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
}

#square0 {
  background-image: url("bilberry.png");
  background-position: center;
  background-size: cover;
}

#square1 {
  background-image: url("strawberry.png");
  background-position: center;
  background-size: cover;
}

#square2 {
  background-image: url("cloudberry.png");
  background-position: center;
  background-size: cover;
}

#square3 {
  background-image: url("lingonberry.png");
  background-position: center;
  background-size: cover;
}

#square4 {
  background-image: url("raspberry.png");
  background-position: center;
  background-size: cover;
}

#square5 {
  background-image: url("buckthorn.png");
  background-position: center;
  background-size: cover;
}

#square6 {
  background-image: url("redcurrant.png");
  background-position: center;
  background-size: cover;
}

.overlay {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px;
}

.modal {
  background-color: lightblue;
  margin: 2rem;
  padding: 1rem;
  border-radius: 20%;
  height: 200px;
  width: 200px;
  position: relative;
}

.close {
  border: none;
  color: white;
  background-color: rgb(53, 50, 50);
  border-radius: 20%;
  height: 50px;
  width: 50px;
}

.stopClass {
  border-radius: 20%;
  background-color: #c98e93;
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  height: 100px;
  width: 100px;
}
