#root {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body {
  margin: 0;
}

:root {
  color: white;
  background-color: black;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: rgb(212, 119, 119);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1rem;
}

.card {
  background-color: rgb(212, 119, 119);
  padding: 2rem;
  border-radius: 2%;
  margin: 1rem;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

header,
footer {
  background-color: rgb(199, 160, 87);
  color: white;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  background-color: #f9f9f9;
}

.close {
  margin-bottom: 0.5rem;
}

.counts {
  display: flex;
  justify-content: center;
}

#favorite {
  align-self: center;
  margin: 1rem;
}

#amount {
  margin: 1rem;
  font-size: 20px;
}

.homePictures {
  display: flex;
  flex-grow: 1;
}

.animalPicture {
  background-image: url("./src/assets/raspopova-marina-yt39XjxwGUE-unsplash.jpg");
  width: 50vw;
  background-size: cover;
  height: 100%;
}

.birdPicture {
  background-image: url("./src/assets/joshua-j-cotten-r0eiuw481JM-unsplash.jpg");
  background-size: cover;
  width: 50vw;
}
nav ul {
  list-style-type: none;
  display: inline-block;
  align-items: left;
}

input {
  margin-bottom: 20px;
  width: 200px;
  display: center;
}

input:focus {
  outline: none;
}

.leftside {
  margin-right: auto;
  margin-left: 30px;
}

.rightside {
  margin-right: 30px;
}
