#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  color: white;
  background-color: black;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: rgb(212, 119, 119);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1rem;
}

.card {
  background-color: rgb(212, 119, 119);
  padding: 2rem;
}

.card img {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

header,
footer {
  background-color: rgb(199, 160, 87);
  color: white;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

button {
  background-color: #f9f9f9;
}

.close {
  margin-bottom: 0.5rem;
}

.counts {
  display: flex;
  justify-content: center;
}

#favorite {
  align-self: center;
  margin: 1rem;
}

#amount {
  margin: 1rem;
  font-size: 20px;
}

.homePictures {
  display: flex;
}

.animalPicture {
  width: cover;
  height: 200px;
}
